;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [cider/cider-nrepl "0.21.1"]
                [org.clojure/core.async  "0.4.500"]
                [reagent "0.8.1"]
                [re-frame "0.10.8"]
                [clj-commons/secretary "1.2.4"]
                [markdown-clj "1.10.0"]
                [cljs-http "0.1.46"]
                [alandipert/storage-atom "2.0.1"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8766}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main
         {:entries [txt2code.core]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load txt2code.core/stop
         ;; after live-reloading finishes call this function
         :after-load txt2code.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "public"
         :http-port    8788
         :preloads     [devtools.preload]}
        }}}
